name: actions
run-name: this is run name
on:
  push:
    branches:
      - master
  # pull-request:
  #   - opened

jobs:
  clang-tidy check:
    runs-on: self-hosted
    steps: 
      - ueses: actions/checkout@v3
      - run: cd ${{GITHUB_WORKSPACE}} && mkdir build && cd build
      - run: ./trail
