name: actions
run-name: this is run name
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  clang_tidy_check:
    runs-on: ubuntu-latest
    container: 
      image: silkeh/clang:15-buster
    steps: 
      - uses: actions/checkout@v3
      - name: create build folder
        run: |
          mkdir ${GITHUB_WORKSPACE}/build
          chmod -R 755 ${GITHUB_WORKSPACE}/build
      - uses: actions/cache@v3
        name: 'build cache'
        id: cache-trail
        with:
          path: ${GITHUB_WORKSPACE}/build/
          key: ${{ runner.os }}-trail
#
      - name: build&run
        run: |
          cd ${GITHUB_WORKSPACE}
          cd build
          cmake .. 
          make
          ./trail
