name: actions
on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  clang_tidy_check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        repos: [ r3broot, sofia, frs, asyeos, others ]
        include:
          - repos: r3broot
            cache: r3broot
          - repos: sofia
            url: https://github.com/R3BRootGroup/sofia.git
            cache: sofia
          - repos: frs
            url: https://github.com/R3BRootGroup/frs.git
            cache: r3broot
          - repos: asyeos
            url: https://github.com/R3BRootGroup/asyeos.git
            cache: r3broot
          - repos: others
            url: |
              https://github.com/R3BRootGroup/asyeos.git
              https://github.com/R3BRootGroup/frs.git
              https://github.com/R3BRootGroup/sofia.git
            cache: r3broot

    container: 
      image: yanzhaowang/cvmfs_clang:v15
      volumes:
        - /tmp:/cvmfs
      env:
        CVMDIR: /cvmfs/fairsoft.gsi.de
      options: --user root --privileged  --ulimit nofile=10000:10000 --cap-add SYS_ADMIN --device /dev/fuse
    steps: 
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # - name: create build folder
      #   run: |
      #     mkdir ${GITHUB_WORKSPACE}/build
      #     chmod -R 755 ${GITHUB_WORKSPACE}/build
      - uses: actions/cache@v3
        name: 'build cache'
        id: cache-trail-2
        with:
          path: build
          key: ${{ runner.os }}-trail-2

      - name: check
        # if: ${{ github.event_name == 'push' }}
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          echo ${{ matrix.repos }}
          # echo "${{ matrix.url }}" | sed 's/\\n/ /g'
          # echo $(sed 's/' "${{ matrix.url }}")
          for url in $(echo "${{ matrix.url }}")
          do
            echo "this is url $url"
          done
        shell: bash
      # - name: build and run
      #   run: |
      #     cd ${GITHUB_WORKSPACE}
      #     mkdir -p build && cd build
      #     cmake .. 
      #     make
      #     ./trail
