name: actions
run-name: this is run name
on:
  push:
    branches:
      - master
  # pull-request:
  #   - opened

jobs:
  clang_tidy_check:
    runs-on: self-hosted
    container: 
      image: silkeh/clang:15-buster
    steps: 
      - uses: actions/checkout@v3
      - name: ls
        run: |
          echo "${{github.workspace}}"
          # ls ${{github.workspace}}
          echo "${GITHUB_WORKSPACE}"
          ls ${GITHUB_WORKSPACE}
      - name: build&run
        run: |
          cd ${{github.workspace}}
          mkdir build
          cd build
          cmake .. 
          make
          ./trail
