name: merge action
on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  clang_tidy_check:
    runs-on: ubuntu-latest
    container: 
      image: yanzhaowang/cvmfs_clang:v15
      volumes:
        - /tmp:/cvmfs
      env:
        CVMDIR: /cvmfs/fairsoft.gsi.de
      options: --user root --privileged  --ulimit nofile=10000:10000 --cap-add SYS_ADMIN --device /dev/fuse
    steps: 
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: check
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          echo $( git rev-parse --short HEAD^)
          echo $( git rev-parse --short HEAD)
          echo ${{ github.event_name }}
